{% extends "../sub_base.html" %}
{% block title %}Log-in{% endblock %}
{% block sub_content %}

<div class="container-fluid">
            <div class="login d-flex align-items-center py-5">
                <div class="col-12 col-lg-8  mx-auto">
                            {% if 'email' in request.get_full_path %}
                                        <h3 class="mb-4">Password Reset Success</h3>
                                        <p>Check your email for instructions</p>
                                {% endif%}
                                {% if 'complete' in request.get_full_path %}
                                        <h3 class="mb-4">Password Reset Success</h3>
                                        <a href="{% url "account:login" %}">Login</a>
                                {% endif%}
                            </div>       
                        </div>
                    </div>
{% endblock %}